#configure optuna specific settings here
study_name: DogbowlRawCNN_functional
trials: 200
storage: sqlite:///optuna_sqlite.db
direction: maximize

pruning:
  enabled: True
  monitor: val_accuracy
  pruner:
    _target_: optuna.pruners.MedianPruner
    n_startup_trials: 5
    n_warmup_steps: 10
    interval_steps: 1
    n_min_trials: 1
  
